html ._1md0{padding:16px 0 0 0}
._5ki2{padding:0 0 12px}._5ki2 ._1nvm{font-size:12px;padding:12px 30px 0 29px}._5kic{text-align:center}
.sp_GPqZJ_sO3wF{background-image:url(/rsrc.php/v3/yw/r/qAwoXqE3W5a.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:36px;width:36px}.sp_GPqZJ_sO3wF.sx_e80168{width:10px;height:11px;background-position:0 -37px}.sp_GPqZJ_sO3wF.sx_412bb0{background-position:0 0}

#bootloader_Zdyus{height:42px;}.bootloader_Zdyus{display:block!important;}